body {
    margin: 0;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: blueviolet;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(54, 118, 29);
    color: white;
}

.menu-bar img {
    height: 40px;
    width: 40px;
}

.home, .browse, .shop {
    padding: 0.7rem;
    width: 10rem;
    border-radius: 5px;
}

.home, .browse {
    background-color: rgb(173, 173, 255);
} 

.search {
    margin-left: 45%;
}

.cart-icon {
    background-color: rgb(92, 208, 46);
    border: none;
    border-radius: 10px;
}

.home-page {
    text-align: center;
    background-color: rgb(125, 125, 235);
    height: 70vh;
}

.shop {
    background-color: rgb(92, 208, 46);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(54, 118, 29);
    padding: 1rem;
}