body {
    margin: 0;
    color: white;
}

h1, h2 {
    margin: 0;
}

button {
    cursor: pointer;
    transition: ease-in-out, 0.5s;
}

button:hover {
    background-color: blueviolet;
    transform: scale(0.9);
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(54, 118, 29);
    color: white;
    padding: 1rem;
}

.menu-bar img {
    height: 40px;
    width: 40px;
}

.home, .browse, .shop, .add-to-cart, .checkout {
    padding: 0.7rem;
    width: 10rem;
    border-radius: 5px;
}

.home, .browse, .add-to-cart {
    background-color: rgb(173, 173, 255);
} 

.checkout {
    background-color: rgb(99, 220, 50);
    margin: 1rem 0 1rem;
}

.remove {
    background-color: rgb(205, 0, 0);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.search {
    margin-left: 45%;
}

.cart-icon {
    background-color: rgb(92, 208, 46);
    border: none;
    border-radius: 10px;
}

.home-page, .shop-page, .quantity-page, .cart-page {
    text-align: center;
    background-color: rgb(125, 125, 235);
    padding-top: 1rem;
    min-height: 70vh;
}

.home-page {
    height: 70vh;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    color:black;
}

.information {
    background-color: white;
    width: 25rem;
    text-align: center;
    margin: auto auto;
    padding: 1rem;
    border-radius: 5px;
    border: 3px solid black;
}

.shop-page img, .quantity-page img, .cart-page img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.quantity-page input {
    width: 4rem;
    height: 1rem;
    text-align: center;
}

.minus, .plus {
    width: 2rem;
}

.add-to-cart {
    margin: 1rem;
    background-color: dimgray;
    color: white;
}

.error-page {
    text-align: center;
    background-color: rgb(125, 125, 235);
    height: 100vh;
}

.shop {
    background-color: rgb(92, 208, 46);
}

.loading {
    background-color: rgb(125, 125, 235);
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10rem;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 1rem;
}

.product-card {
    text-align: center;
    color: crimson;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
}

.product-card button {
    padding: 0.5rem;
    background-color: darkorange;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: blueviolet;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.single-card {
    max-width: 500px;
    text-align: center;
    color: crimson;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: auto auto;
    background-color: white;
}

.handle-inputs {
    margin: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(54, 118, 29);
    padding: 1rem;
}