body {
    margin: 0;
    color: white;
}

h1, h2 {
    margin: 0;
}

button:hover {
    cursor: pointer;
    background-color: blueviolet;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(54, 118, 29);
    color: white;
    padding: 1rem;
}

.menu-bar img {
    height: 40px;
    width: 40px;
}

.home, .browse, .shop {
    padding: 0.7rem;
    width: 10rem;
    border-radius: 5px;
}

.home, .browse {
    background-color: rgb(173, 173, 255);
} 

.search {
    margin-left: 45%;
}

.cart-icon {
    background-color: rgb(92, 208, 46);
    border: none;
    border-radius: 10px;
}

.home-page, .shop-page {
    text-align: center;
    background-color: rgb(125, 125, 235);
    height: 70vh;
    padding-top: 1rem;
}

.shop-page img {
    height: 100px;
    width: 100px;
}

.error-page {
    text-align: center;
    background-color: rgb(125, 125, 235);
    height: 100vh;
}

.shop {
    background-color: rgb(92, 208, 46);
}

.loading {
    background-color: rgb(125, 125, 235);
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10rem;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.product-card {
    text-align: center;
    color: crimson;
    background-color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(54, 118, 29);
    padding: 1rem;
}